<!doctype html>
<html lang="en">
  <center>
    <div class = "container">
      <br>
        <h1 class = "display-1">One day, one line</h1>
         <h2>One dev's daily bullet journal on the path to employment</h2>
        <%= link_to 'My Blog', controller: 'articles' %>
    </div>
  </center>
  </body>
</html>